.container {
    padding: 40px;
}

.abort-btn {
    width: 400px;
}

.input-text {
    width: 800px;
    display: block;
    padding: 5px;
}

.abort-btn,
.input-submit {
    width: 300px;
    height: 40px;
}
